---
layout: default
id: home
title: Home
description: "Ghana in Data: Get involved in open source projects and communities at Ghana in Data."
---

<article>
    <div class="wrapper-full bg-dark" style="padding-bottom: 50px;">
        <div class="wrapper py-6 my-6">
            <div class="d-md-flex flex-justify-between">
                <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                    <h1 class="h1-xl mb-6" x-data-animate-in="fade" x-data-animate-in-delay="100">
                        Insight<br />
                        <div class="hero-text-formula">+</div>
                        Civic Engagement <br />
                        <div class="hero-text-formula">=</div>
                        Impact
                    </h1>
                    <p class="p-lg text-white col-md-11 col-lg-9" x-data-animate-in="fade" x-data-animate-in-delay="220" style="font-size: 1.5em;">
                        Are you <span id="typed-text" style="color:#FFC857; font-weight: 600;"></span> <br />
                        Join the open data movement pushing for a transparent, accountable, and innovative Ghana. 
                    </p>
                    <div data-animate-in="fade" data-animate-in-delay="240">
                        <a class="link-arrow text-white mt-4" href="{{ '/collaborate' | relative_url }}">Get involved</a>
                        <br />
                        <a class="link-arrow text-white mt-4" href="{{ '/projects' | relative_url }}">Explore projects</a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2" style="position: relative" id="hero-figure">
                    <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                        {% include open-source-svg.html %}
                    </figure>
                    <div id="hero-avatars" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0"></div>
                    <div id="hero-accessibility-controls" style="position: absolute; right: 0; bottom: 0;" data-require-javascript="yes" data-javascript-show="immediate">
                        <div style="position: relative; margin-bottom: -30px;" >
                            <a  class="refresh"
                                style="color: #fff"
                                id="toggle-graphics"
                                href="#"
                                title="Pause animation"><span class="sr-only" id="toggle-text2">Pause animations and stop showing new graphics</span>
                                <span id="toggle-text" aria-hidden="true">Pause</span> <span id="pause-icon">{% octicon square-fill %}</span><span 
                                id="resume-icon">{% octicon triangle-right %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr /> -->
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="display: flex; justify-content: center; align-items: center; background-color: #FFC857; border-radius: 40px;">
        <div class="wrapper py-6 my-6" style="width:60%; padding-left:10%">
            <section class="intro" >
                <h1 class="title" style="padding-bottom: 40px;">What is the Challenge and <span>the Mission?</span></h1>
                <p class="highlight">Economic sovereignty,  inequality, corruption,  tribal conflicts, unemployment, 
                    poverty,  environmental threats, and adaptation to an evolving demography are among the sticky 
                    problems that have plagued Ghana for years... </p>
                <p class="highlight">Fragmented knowledge—much like the parable of the blind men and the elephant—implicate 
                    progress. Especially when vital data and research is trapped behind paywalls, jargon, or isolated databases. 
                    Ghana in Data’s mission is to:</p>

                <p class="highlight-text highlight" style="font-weight: 800;"><em><strong> Drive Informed Civic Engagement by Making Research and Data Accessible and Approachable 
                    to Patriots Working to Build a Better Ghana.</strong></em></p>
                <p class="highlight">We are a movement championing the wisdom of the collective as the 
                    missing link between Ghana’s current state and Her promising future. By combining open data and opensource, we aim to inspire an informed civic engagment.
                </p>
            </section>
            <div data-animate-in="fade" data-animate-in-delay="240" style="color:#DB3A34">
                <a class="link-arrow text-white mt-4" style="color:#DB3A34" href="{{ '/collaborate' | relative_url }}"><span style="font-weight: 500;">More About our Mission</span></a>
            </div>
        </div>
        <div class="comic" style="padding-right:10%"><img src="{{ site.baseurl }}/assets/images/pngs/parable.png" /></div>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="display: flex; justify-content: center; align-items: center;">
        <div class="wrapper py-6 my-6" style="padding-left: 10%;">
            <section class="intro" >
                <h1 class="title" style="padding-bottom: 40px;">What is <span>Open Data?</span></h1>
                <p class="highlight">Any data that is <br />
                    <span class="secondary" style="color:#DB3A34; font-size:60px"><strong>accessible</strong> 
                    <span style="color:#11100f">to all, </span> <br />
                    <span class="secondary highlight-text" style="color:#FFC857; font-size:60px"><strong>shared</strong></span><span style="color:#11100f;">, and can be</span> <br />
                    <span class="secondary highlight-text" style="color:#33673B; font-size:60px"><strong>built-on.</strong></span>
                </p>
                <p class="highlight">Open data is vital for a sustainable development rooted in <br />
                  <span class="highlight-text highlight">transparency, accountability, and innovation.</span>
                </p>
            </section>
        </div>
        <div class="comic" style="width:80%; border-radius:40px"><img src="{{ site.baseurl }}/assets/images/pngs/trust_my_analysis.png" /></div>
    </div>
    <hr />
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="display: flex; justify-content: center; align-items: center;">
        <div class="wrapper py-6 my-6" style="padding-left: 10%;">
            <section class="intro">
                <h1 class="title" style="padding-bottom: 40px;">How Do We Use <span>Open Data?</span></h1>
                <p class="highlight">
                    As an opensource community of thinkers, developers, data professionals, artists, policy analysts, freelance journalists...
                </p>
                <p class="highlight">
                    <em>Honestly, we should have just led with;</em> <span style="color:#DB3A34; font-weight:400;">PATRIOTS,</span>
                </p>
                <p class="highlight">
                    We recognise an opportunity in <span style="color:#DB3A34; font-weight:400;">"collective intelligence"</span> - a multi-disciplinary and open knowledge base rooted in analytics and research.
                </p>
                <p class="highlight">Our model is a creative combination of Insight and Civic Engagement to yield Impact.</p>
            </section>
        </div>
        <div class="comic" style="width:80%; border-radius:40px"><img src="{{ site.baseurl }}/assets/images/pngs/collective-int.png" /></div>
    </div>
    <!-- <hr /> -->
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="display: flex; justify-content: center; align-items: center; border-radius: 40px;">
        <!-- <div class="text-center mb-6" data-animate-in="up" data-animate-in-delay="200">
            <h1 class="title">Our <span>Model</span></h1>
        </div> -->
        <div class="py-6 my-6" style="display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;">
            <div class="d-md-flex text-center" style="justify-content: space-evenly;
    align-items:center; margin-bottom: 40px;">

                <div class="col-12 col-md-4 pr-md-4" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4" src="{{ '/assets/images/svgs/insight.svg' | relative_url }}" alt="Adinkra icon" style="height:50px" />
                    <h3 class="h4">Insight</h3>
                    <p style="width:80%">
                        GiD collects and transforms public data into <strong>immersive experiences</strong>, to create an informed and effective civic engagment.
                    </p>
                </div>
                <span style="font-size:40px; font-weight:700">+</span>
                <div class="col-12 col-md-4 px-md-3 mb-6 mb-md-0" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4" src="{{ '/assets/images/svgs/action.svg' | relative_url }}" alt="Adinkra icon named akoben" style="height:50px" />
                    <h3 class="h4">Civic Engagement</h3>
                    <p style="width:80%">
                        Through carefully designed initiatives, we help the public take action to transition from insight to impact.
                    </p>
                </div>
                <span style="font-size:40px; font-weight:700">=</span>
                <div class="col-12 col-md-4 pl-md-4 mb-6 mb-md-0" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4" src="{{ '/assets/images/svgs/impact.svg' | relative_url }}" alt="Adinkra icon" style="height:50px"/>
                    <h3 class="h4">Impact</h3>
                    <p style="width:80%">
                        By inspiring civic engagment through data and research, we can rewrite the rules of "politics" for the benefit of every Ghanaian.
                    </p>
                </div>
            </div>
            <div class="text-center mt-6" data-animate-in="up" data-animate-in-delay="200" style="display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            justify-content: center; margin-bottom: 50px">
                <p style="width:50%;"><span class="highlight-text highlight" style="color: #33673B; font-weight:600;">
                    By collecting and transforming public data into clear and immersive experiences, 
                    We can offer a more nuanced lens through which to discuss and advocate for solutions.</span>
                </p>
                <a class="link-arrow text-brand mt-4" href="{{ '/ecosystem' | relative_url }}" style="color:#b90909">
                    Here's Our Roadmap
                </a>
            </div>
        </div>
    </div>
    <hr />

    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title" style="padding-bottom: 40px;">Why
                <span>Open Source?</span>
            </h1>
            <p class="highlight">
                Adopting the open source model is an invitation to the public to participate in the development of tools and resources that will help us improve key aspects of our lives as Ghanaiains. 
            </p> 
            <p class="highlight">
                It is an opportunity for knowledge exchange and collaboration that produce the <em>tools</em> that help citizens harness the power of public data. 
            </p>
            <p class="highlight">
                Here are are some projects currently making waves in our open source community. Be free to explore and join us build in the open!
            </p>
        </section>
    </div>
    <!-- <div class="wrapper pt-6 pb-4 mt-6 mb-4">
        <div class="wrapper py-6 my-6">
            <div class="text-center mb-6" data-animate-in="up" data-animate-in-delay="200">
                <h2 class="h3">Active Open Data Projects</h2>
                <p>
                   We are actively building an open data ecosystem that will be shaped by standards, empowered by open data tools and supported by a strong open source community.
                </p>
            </div>
        </div>
    </div> -->
    <div class="wrapper py-6 my-6" >
        <section class="intro">
            <h1 class="title">Which Projects Would You Like to
                <span>Support?</span>
            </h1>
        </section>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="background-color: #FFC857; border-radius: 40px;">
        <div class="tile-list" data-animate-in="up" data-animate-in-delay="400" style="display: flex;
    justify-content: space-around; padding-top:40px;">
            {% assign featured_projects_count = 0 %}
            {% for project in site.projects %}
            {% if project.featured and featured_projects_count < 3 %}
            {% assign featured_projects_count = featured_projects_count | plus: 1 %}
            <a class="tile" href="{{ project.projectUrl }}" target="_blank" rel= "noopener" style="border-radius:40px; background-color: #fff; width:27%;">
                <div style="display: flex; flex-direction: column; align-content: center; align-items: center; justify-content: center;">
                    {% if project.externalLogo %}
                    {% assign img = project.externalLogo %}
                    {% else %}
                    {% capture img %}/assets/images/projects/{{ project.logo }}{% endcapture %}
                    {% endif %}
                    <img class="mb-4" src="{{ img | relative_url }}" alt="" />
                    <h3 class="h6 text-brand font-weight-600 mb-3" style="color:#33673B">{{ project.title }}</h3>
                    <p style="width:80%; font-size: 12px; font-weight:500">{{ project.description }}</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>


        <div class="text-center mt-6 pb-6">
            <a class="link-arrow text-white mt-4" href="/projects">Explore Ways You Can Help </a>
        </div>
    </div>


    <div class="split-content text-white" style="margin-top: 256px;
    margin-bottom: 200px">
        <!-- TEMP: overriding color for more contrast -->
         <!-- TODO(Experiment): Add Adinkra pattern overlay -->
        <div class="split-content__content split-content__content--left" style="background-color: #11100f;">
            <div data-animate-in="fade" data-animate-in-delay="200">
                <h2 class="mb-4">
                    <span class="h2">Are You Our Next Contributor?</span>
                    <!-- <span class="h2">Get involved</span> -->
                </h2>
                <p class="p-lg font-weight-400">
                    Whether you're a developer, designer, data scientist, or just a <strong>patriot</strong> who wants to help, there are many ways to get involved bring to life, our vision of the <strong>Collective Ghanaian Inteligence.</strong>
                </p>

                <div class="mt-6">
                    <a class="link-arrow" href="{{ '/collaborate/#get-involved' | relative_url }}">Happening now</a><br />
                    <a class="link-arrow" href="{{ '/collaborate/#get-started' | relative_url }}">Find a "good first issue"</a><br />
                    <a class="link-arrow" href="{{ '/projects/' | relative_url }}">Featured projects</a>
                </div>
            </div>

            <!-- <img src="{{ '/assets/images/direction/stripes-corner.svg' | relative_url }}" alt="" /> -->
        </div>

        <div class="split-content__content split-content__content--right" style="background-color: #24292e;">
            <!-- TODO(Experiment): Add Adinkra pattern overlay -->
            <div data-animate-in="fade" data-animate-in-delay="200">
                <h2 class="mb-4">
                    <span class="h2">Interested in Shaping Our Program?</span>
                    <!-- <span class="h2">Our program &amp; tools</span> -->
                </h2>
                <p class="p-lg font-weight-400">
                    We are open to collaborating with patrons or organisations to develop a strong open source program here at Ghana in Data.
                    We invite you to share in the vision of the <strong>Collective Ghanaian Inteligence.</strong>
                </p>

                <div class="mt-6">
                    <a class="link-arrow" href="{{ '/program/' | relative_url }}">Sponsor</a><br />
                    <a class="link-arrow" href="{{ '/program/#program-tools' | relative_url }}">Become an Advisor</a><br />
                    <a class="link-arrow" href="{{ '/ecosystem/' | relative_url }}">Become a GiD Champion</a>
                </div>
            </div>
            <!-- <img src="{{ '/assets/images/direction/dots-corner.svg' | relative_url }}" alt="" /> -->
        </div>
    </div>
    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title" style="padding-bottom: 40px;">Our 
                <span>Patron Wall of Fame</span>
            </h1>
            <p class="highlight">
                We are grateful to the following individuals who have supported our mission to build a community where collective intelligence thrives.
            </p> 
        </section>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="background-color: #FFC857; border-radius: 40px;">
        <div class="tile-list" data-animate-in="up" data-animate-in-delay="400" style="display: flex;
    justify-content: space-around; padding-top:40px;">
          <div class="text-center mt-6 pb-6">
             <a class="link-arrow text-white mt-4" href="/projects">Become a Community Patron </a>
          </div>

        </div>
    </div>

    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title" style="padding-bottom: 40px;">Our 
                <span>Corporate Allies</span>
            </h1>
            <p class="highlight">
                We depend on the imense support from aliies from the corporate world to help us build data tools for the benefit of all.
            </p> 
        </section>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="background-color: #FFC857; border-radius: 40px;">
        <div class="tile-list" data-animate-in="up" data-animate-in-delay="400" style="display: flex;
    justify-content: space-around; padding-top:40px;">
          <div class="text-center mt-6 pb-6">
             <a class="link-arrow text-white mt-4" href="/projects">Become an Ally </a>
          </div>

        </div>
    </div>
    <div class="wrapper pt-6 pb-6 mt-6 mb-6">
        <div class="d-md-flex">
            <!-- <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                <h3 class="h5 text-brand font-weight-600 mb-2">Innovate faster and more securely with open source on Azure</h3>
                <p>Build on a highly secure cloud platform designed to protect your data and business assets, including proactive, comprehensive compliance coverage.  Gain the flexibility to move your app anywhere. Operate seamlessly and elastically, on-premises, in hybrid or multicloud environments, or at the edge.</p>
                <div class="link-arrow-external mt-4"><a href="https://azure.microsoft.com/en-us/solutions/open-source/#overview">Learn more about open source on Azure</a></div>
            </div> -->

            <!--
                To restore this section, we would need code to connect to the post-cookie consent process.
            <div class="col-md-6 pl-md-4 pl-lg-6">
                <div>
                    <iframe loading="lazy" src="https://docs.microsoft.com/_themes/docs.theme/master/en-us/_themes/global/video-embed.html?id=ec3d794c-eb61-42fe-a0ae-016cfa1663a4" allowfullscreen="" title="" tabindex="0" allow="autoplay" style="width: 100%;height:200px;position: relative;"></iframe>
                    <div class="link-arrow-external mt-4"><a href="https://azure.microsoft.com/en-us/blog/genomics-testing-on-the-iss-with-hpe-spaceborne-computer2-and-azure/">Azure - The cloud powering the space race. Read the story</a>.</div>
                </div>               
            </div>
            -->
        </div>
    </div>


<!-- add a bold CTA section  -->
<!-- Add Adinkra pattern to hero section -->
<!-- Add Adinkra Elements to bottom of page and the -->
<!-- create an infographic roadmap -->
    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title" style="padding-bottom: 40px;">Latest 
                <span>GiD Updates</span>
            </h1>
        </section>
    </div>

    <div class="wrapper pt-6 pb-6 mt-6 mb-6" >
        <!-- <div class="text-center mb-6" data-animate-in="up" data-animate-in-delay="400">
            <h2 class="h3">Ghana in Data Updates</h2>
        </div> -->

        <div class="blog-list">
            {% for post in site.posts %}
            <a class="blog-preview" href="{{ post.articleUrl }}" target="_blank" rel= "noopener" data-animate-in="up"
                data-animate-in-delay="200">
                <div>
                    <h3 class="h5 text-brand font-weight-600 mb-2">{{ post.title }}</h3>
                    {% if post.author %}
                    <span class="blog-preview__meta mb-2">
                        {% if post.authorAvatar %}
                        <img
                            alt="Photo or avatar image of {{ post.author }}"
                            style="border-radius: 50%; max-width: 32px;display:inline-block"
                            src="/assets/images/posts/{{ post.authorAvatar }}" />
                        {% endif %}
                        <div style="display: inline-block; margin-left: 6px">
                            {{ post.author }}
                            {% if post.authorTitle %}
                            <br />{{ post.authorTitle }}
                            {% endif %}
                        </div>
                    </span>
                    {% endif %}
                    <!--
                    <p class="blog-preview__meta mb-2">{{ post.publishDate }}</p>
                    -->
                    {% if post.video_url %}
                    <div class="blog-preview__video">
                        <iframe loading="lazy"  src="https://docs.microsoft.com/_themes/docs.theme/master/en-us/_themes/global/video-embed.html?id=ec3d794c-eb61-42fe-a0ae-016cfa1663a4" allowFullScreen title="{{video.title}}" tabindex="0" allow="autoplay"></iframe>
                    </div>
                    {% endif %}
                    {{ post.content }}
                </div>
                {% if post.azure-oss-post %}
                <div class="link-arrow-external mt-4">Learn more about open source on Azure</div>
                {% else %}
                <div class="link-arrow-external mt-4">Read post</div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        {% assign postCount = site.posts|size %}
        {% if postCount > 4 %}
        <script>
            var $ = jQuery,
                post = $('.blog-preview');
            post.hide();
            randomElements = post.get().sort(function () {
                return Math.round(Math.random()) - 0.5
            }).slice(0, 4);
            $(randomElements).show();
        </script>
        {% endif %}

        <!--
        <div class="text-center mt-6 pb-6">
            <a class="link-arrow-external" href="https://cloudblogs.microsoft.com/opensource/">Microsoft's Open Source
                Blog</a>
        </div>
        -->
    </div>

    <div class="wrapper-full bg-brand-dark text-white" style="background-color:#FFC857;">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>
                        We welcome you to our open communities. Please check out
                        our Code of Conduct and our Contribution Guidelines
                        to help us all participate with care.
                    </p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</article>


<script src="{{ '/assets/js/homepage.js' | relative_url }}"></script>
