---
layout: default
id: home
title: Home
description: "Ghana in Data: Get involved in open source projects and communities at Ghana in Data."
---

<article>
    <div class="wrapper-full bg-dark hero-wrapper-pad">
        <div class="wrapper py-6 my-6">
            <div class="d-md-flex flex-justify-between">
                <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                    <h1 class="h1-xl mb-6" x-data-animate-in="fade" x-data-animate-in-delay="100" style="font-weight: 100 !important;">
                        Insight<br />
                        <div class="hero-text-formula">+</div>
                        Civic Engagement <br />
                        <div class="hero-text-formula">=</div>
                        Impact
                    </h1>
                    <p class="p-lg text-white col-md-11 col-lg-9 hero-text-p" x-data-animate-in="fade" x-data-animate-in-delay="220" 
                       style="padding-bottom: 15px; color:#E6FAFC !important; font-weight: 100 !important;"
                    >
                        Are you <span id="typed-text" class="hero-text-typed"></span> 
                    </p>
                    <p class="p-lg text-white col-md-11 col-lg-9 hero-text-p" x-data-animate-in="fade" x-data-animate-in-delay="220" 
                        style="padding-bottom: 8px; color: #e6fafc !important; font-weight: 100 !important;">
                        Join the open knowledge movement, 
                        promoting collective intelligence as a means for change.
                    </p>
                    <div data-animate-in="fade" data-animate-in-delay="240">
                        <a class="link-arrow text-white mt-4" style="color: #e6fafc !important;"href="{{ '/collaborate' | relative_url }}">Get involved</a>
                        <br />
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2" style="position: relative" id="hero-figure">
                    <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                        {% include open-source-svg.html %}
                    </figure>
                    <div id="hero-avatars" class="hero-avatars-position"></div>
                    <div id="hero-accessibility-controls" class="hero-a11-ctrl"  data-require-javascript="yes" data-javascript-show="immediate">
                        <div style="position: relative; margin-bottom: -30px;" >
                            <a  class="refresh"
                                style="color: #fff;"
                                href="#"
                                title="Pause animation"><span class="sr-only" id="toggle-text2">Pause animations and stop showing new graphics</span>
                                <span id="toggle-text" aria-hidden="true">Pause</span> <span id="pause-icon">{% octicon square-fill %}</span><span 
                                id="resume-icon">{% octicon triangle-right %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="intro" style="margin-top: 200px;">
        <h1 class="title custom-title text-center text-[8rem] leading-tight">
          <span class="interactive-text block">
            <span class="highlight-target">A Call to Action</span>,
          </span>
          <span class="interactive-text block">
            <span class="highlight-target">Would You Answer?</span>
          </span>
        </h1>
    </section>
    <div class="wrapper  pb-4 mb-4 wrapper-custom" style="background-color:#fff;">
       
        <div class="wrapper py-6 my-6 wrapper-custom-content mission">
            <div class="d-md-flex text-center insight-wrapper-content">
                <div class="col-12 col-md-4 parent-text-container" data-animate-in="fade" data-animate-in-delay="200">
                    <div class="text-container">
                        <section class="intro"style="width: 50%;">
                            <p class="highlight text-container-text">
                                Economic sovereignty, 
                                inequality, corruption, unemployment, 
                                poverty and environmental threats, are among the stickiest
                                problems that have plagued Ghana for years. 
                                We believe that with the help of public data tools, 
                                We believe that with the help of public data tools, 
                                We believe that with the help of public data tools, 
                                We believe that with the help </p>
                        </section>
                        <section class="intro" style="width: 50%;">
                            <p class="highlight text-container-text">
                                patterns of injustice, distributional inequity and weak
                                 policies can be highlighted and advocated against. 
                                 By making public data accessible, we stand a greater 
                                 chance at creating a civic engament that can deliver 
                                 real change. We believe that with the help of public 
                                 data tools, We believe that with the help of public 
                                 data tools, We believe that with the help 
                                </p> 
                        </section>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 pr-md-4" data-animate-in="fade" data-animate-in-delay="200">
                    <div class="comic comic-padding balancing-container">
                        <div class="balancing-shadow"></div>
                        <img
                          src="{{ site.baseurl }}/assets/images/webp/missionstate-lego.webp"
                          alt="Parable Image"
                          class="balancing-img img-div"
                        />
                    </div>
                </div>
            </div>
            <section class="intro">
               <p class="secondary comic-wrapper-callout tagline">
                <span style="font-size: x-large;">
                    "
                </span>
                    Drive Informed Civic Engagement by 
                    Making Research and Data Accessible and Approachable 
                    to Patriots Working to Build a Better Ghana.
                <span style="font-size: x-large;">
                  "
                </span>
                </p>
            </section>
            <div data-animate-in="fade" data-animate-in-delay="240">
                <a 
                    class="link-arrow text-white mt-4" 
                    href="{{ '/story' | relative_url }}" 
                    style="color:#33673B !important">
                        <span 
                        class="weight-link" 
                        style="color:#33673B !important">
                        More About our Mission
                    </span>
                </a>
            </div>
        </div>
        
    </div>
    <hr />
    <div class="wrapper pt-6 pb-4 mt-6 mb-4 comic-wrapper">
        <div class="wrapper py-6 my-6 comic-wrapper-content">
            <section class="intro" >
                <h1 class="title custom-title" style="font-size: 45px;">
                    What is <span style="color: #35563c;">Open Data?</span></h1>
                <p class="secondary comic-wrapper-callout tagline" style="text-align: justify;">
                    Any public information or knowledge made freely available
                    to any Ghanaian interested in drawing insights from it.
                </p>
            </section>
        </div>
        <div class="col-12 col-md-4 pr-md-4" data-animate-in="fade" data-animate-in-delay="200" style="width: 50%;">
                <div class="comic comic-padding balancing-container">
                    <div class="balancing-shadow"></div>
                <img 
                    src="{{ site.baseurl }}/assets/images/webp/missionstate-lego.webp"
                    alt="Parable Image"
                    class="balancing-img img-div" 
                />
            </div>
        </div>
    </div>

    <div class="wrapper pt-6 pb-4 mt-6 mb-4 comic-wrapper">
        <div class="wrapper py-6 my-6 comic-wrapper-content">
            <section class="intro" style="width:90%;">
                <h1 class="title custom-title" 
                    style="font-size: 45px;">
                    How Do We Use <span>Open Data?</span>
                </h1>
                <p class="secondary comic-wrapper-callout tagline" style="text-align: justify;">
                    We design open data tools and systems to moderate 
                    an ongoing action oriented public debates on solutions.
                </p>
            </section>
        </div>
        
        <div class="col-12 col-md-4 pr-md-4" data-animate-in="fade" data-animate-in-delay="200" style="width: 50%;">
            <div class="comic comic-padding balancing-container">
            <div class="balancing-shadow"></div>
            <img 
                src="{{ site.baseurl }}/assets/images/webp/collective-int-lego.webp"
                class="balancing-img img-div"
            />
            </div>
        </div>
    </div>
    <hr />
    <section class="intro" style="margin-top: 200px;">
        <h1 class="title custom-title text-center text-[8rem] leading-tight">
          <span class="interactive-text block">
            <span class="highlight-target">Our Game for Change</span>,
          </span>
          <span class="interactive-text block">
            <span class="highlight-target">Would you play?</span>
          </span>
        </h1>
    </section>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4 wrapper-custom textured" style="background-color: #fff;">
        <div class="py-6 my-6 insight-wrapper">
            <div class="d-md-flex text-center insight-wrapper-content">
                <div class="col-12 col-md-4 pr-md-4 balancing-container" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4 insight-icon balancing-img" src="{{ '/assets/images/webp/insight.webp' | relative_url }}" alt="Adinkra icon" />
                    <h3 class="h4">Insight</h3>
                    <p class="insight-p" >
                      GiD collects and transforms public data into 
                      <strong>immersive experiences</strong>,
                      to create an informed and effective civic engagment.
                    </p>
                </div>
                <span style="font-size:40px; font-weight:500">+</span>
                <div class="col-12 col-md-4 px-md-3 mb-6 mb-md-0" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4 insight-icon balancing-img" src="{{ '/assets/images/webp/action.webp' | relative_url }}" alt="Adinkra icon named akoben" />
                    <h3 class="h4 ">Civic Engagement</h3>
                    <p class="insight-p ">
                        Through carefully designed initiatives, we help 
                        the public take action to transition from insight to impact.
                    </p>
                </div>
                <span style="font-size:40px; font-weight:500">=</span>
                <div class="col-12 col-md-4 pl-md-4 mb-6 mb-md-0" data-animate-in="fade" data-animate-in-delay="200">
                    <img class="mb-4 insight-icon balancing-img" src="{{ '/assets/images/webp/impact.webp' | relative_url }}" alt="Adinkra icon"/>
                    <h3 class="h4">Impact</h3>
                    <p class="insight-p">
                        By inspiring civic engagment through data and research, 
                        we can rewrite the rules of "politics" 
                        for the benefit of every Ghanaian.
                    </p>
                </div>
            </div>
            <div class="text-center mt-6 text-box-center" data-animate-in="up" data-animate-in-delay="200">
            <p class="secondary comic-wrapper-callout tagline"><span style="font-size: x-large;">"</span> GiD is also actively promoting <span style="color:#DB3A34;">"collective intelligence" </span> - a multi-disciplinary approach to analysing the important numbers behind challenges facing Ghanaians.</span><span style="font-size: x-large;">"</span></p>
                <p style="width:50%;"><span class="highlight-text highlight" style="color: #33673B; font-weight:600;">
                   
                </p>
                <a class="link-arrow text-brand mt-4" href="{{ '/ecosystem' | relative_url }}" style="color: #33673b !important;">
                    Here's Our Roadmap
                </a>
            </div>
        </div>
    </div>
    <hr />

    <div class="wrapper py-6 my-6">
        <section class="intro centered-h1" >
            <h1 class="title custom-title" style="font-size: 45px; text-align: center;">Why
                <span>Open Source?</span>
            </h1>
            <div class="text-box-center" >
                <p class="highlight highlight-center" >
                    Adopting the open source model is an invitation to the public to participate in the development of tools and resources that will help us improve key aspects of our lives as Ghanaiains. 
                </p> 
                <p class="highlight highlight-center">
                    It is an opportunity for knowledge exchange and collaboration that produce the <em>tools</em> that help citizens harness the power of public data. 
                </p>
                <p class="highlight highlight-center" >
                    Here are are some projects currently making waves in our open source community. Be free to explore and join us build in the open!
                </p>
            </div>
        </section>
    </div>
    <!-- <div class="wrapper pt-6 pb-4 mt-6 mb-4">
        <div class="wrapper py-6 my-6">
            <div class="text-center mb-6" data-animate-in="up" data-animate-in-delay="200">
                <h2 class="h3">Active Open Data Projects</h2>
                <p>
                   We are actively building an open data ecosystem that will be shaped by standards, empowered by open data tools and supported by a strong open source community.
                </p>
            </div>
        </div>
    </div> -->
    <div class="wrapper py-6 my-6" >
        <section class="intro">
            <h1 
                class="title custom-title" 
                style="font-size: 45px; text-align: center;"
                >
                Which Projects Would You Like to <span>Support?</span>
            </h1>
        </section>
    </div>
    <div 
        class="wrapper pt-6 pb-4 mt-6 mb-4 whiteboard" 
        style="background-color: #11100f;"
        >
        <div class="tile-list tile-content" data-animate-in="up" data-animate-in-delay="400" >
            {% assign featured_projects_count = 0 %}
            {% for project in site.projects %}
            {% if project.featured and featured_projects_count < 6 %}
            {% assign featured_projects_count = featured_projects_count | plus: 1 %}
            <a class="tile tile-custom" href="{{ project.projectUrl }}" target="_blank" rel= "noopener">
                <div class="tile-div">
                    {% if project.externalLogo %}
                    {% assign img = project.externalLogo %}
                    {% else %}
                    {% capture img %}/assets/images/projects/{{ project.logo }}{% endcapture %}
                    {% endif %}
                    <img class="mb-4" src="{{ img | relative_url }}" alt="" />
                    <h3 class="h6 text-brand font-weight-600 mb-3" style="color:#33673B">{{ project.title }}</h3>
                    <p style="width:90%; font-size: 12px; font-weight:500">{{ project.description }}</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>


        <div class="text-center mt-6 pb-6">
            <a class="link-arrow text-white mt-4" href="/projects">Explore Ways You Can Help </a>
        </div>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4 comic-wrapper" style="flex-direction: column;">
        <div class="wrapper py-6 my-6 comic-wrapper-content" style="width:100%; padding-left:0% !important;">
            <section class="intro" style="display: flex; justify-content: center;">
                <p class="secondary comic-wrapper-callout" style="color:#33673B; text-align: center; padding-bottom: 50px; opacity: 2; margin-top: 50px; font-weight: 200;">
                    <span style="font-size: x-large;">"</span>For Non-Code Contributions, Use the <br />
                    <span class="secondary comic-wrapper-callout" style="color:#DB3A34;">
                        <a href="#" style="color:#DB3A34; font-weight: 300;">Calls for Collaborators Page 
                        </a>
                    </span>
                    to find initiatives 
                    <span style="font-size: x-large;">"</span>
                </p>
             </section>
        </div>
        <a class="link-arrow text-brand mt-4" href="{{ '/ecosystem' | relative_url }}" style="color: #33673b !important;">
            Respond to Open Calls
        </a>
    </div>

    <div class="split-content text-white" style="margin-top: 256px;
    margin-bottom: 200px;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a); 
    background-size: cover;
    background-position: center;">
        <div class="split-content__content split-content__content--left glassmorphism" style="background-color: #11100f;">
            <div data-animate-in="fade" data-animate-in-delay="200">
                <h2 class="mb-4" style="color:#ffc891">
                    <span class="h2" style="color:#ffc891; font-weight: 100 !important;">Are You Our Next Contributor?</span>
                </h2>
                <p class="p-lg font-weight-400" style="color:#ffc891; font-weight: 100 !important;">
                    Whether you're a developer, designer, data scientist, or just a <strong style="color:#ffc891">patriot

                    </strong> 
                    who wants to help, there are many ways to get
                    involved bring to life, our vision of the 
                    <strong style="color:#ffc891">
                        Collective Ghanaian Inteligence.
                    </strong>
                </p>

                <div class="mt-6" style="color:#ffc891">
                    <a class="link-arrow" href="{{ '/collaborate/#get-involved' | relative_url }}" style="color:#ffc891 !important">Happening now</a><br />
                    <a class="link-arrow" href="{{ '/collaborate/#get-started' | relative_url }}" style="color:#ffc891 !important">Find a "good first issue"</a><br />
                    <a class="link-arrow" href="{{ '/projects/' | relative_url }}" style="color:#ffc891 !important">Featured projects</a>
                </div>
            </div>
        </div>

        <div class="split-content__content split-content__content--right glassmorphism" style="background-color: #0d0f0d;">
            <div data-animate-in="fade" data-animate-in-delay="200">
                <h2 class="mb-4" style="color:#d0fdd0">
                    <span class="h2" style="color:#d0fdd0; font-weight: 100 !important;">Interested in Shaping Our Program?</span>
                </h2>
                <p class="p-lg font-weight-400" style="color:#d0fdd0; font-weight: 100 !important;">
                    We are open to collaborating with patrons or organisations to develop a strong open source program here at Ghana in Data.
                    We invite you to share in the vision of the <strong style="color:#d0fdd0">Collective Ghanaian Inteligence.</strong>
                </p>

                <div class="mt-6" style="color:#d0fdd0">
                    <a class="link-arrow" href="{{ '/program/' | relative_url }}" style="color:#d0fdd0 !important">Sponsor</a><br />
                    <a class="link-arrow" href="{{ '/program/#program-tools' | relative_url }}" style="color:#d0fdd0 !important">Become an Advisor</a><br />
                    <a class="link-arrow" href="{{ '/ecosystem/' | relative_url }}" style="color:#d0fdd0 !important">Become a GiD Champion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title custom-title" style="font-size: 45px;">Our 
                <span>Patron Wall of Fame</span>
            </h1>
            <p class="highlight">
                We are grateful to the following individuals who have supported our mission to build a community where collective intelligence thrives.
            </p> 
        </section>
    </div>
    <div class="wrapper-full bg-dark hero-wrapper-pad">
        <div class="wrapper py-6 my-6">
            <div class="patron-content" data-animate-in="up" data-animate-in-delay="400">
                <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                    {% include open-source-svg.html %}
                </figure>
                <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                    {% include open-source-svg.html %}
                </figure>
                <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                    {% include open-source-svg.html %}
                </figure>
            </div>
            <div class="text-center mt-6 pb-6">
                <a class="link-arrow text-white mt-4" href="/projects">Become a Community Patron </a>
            </div>
        </div>
    </div>

    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title custom-title" style="font-size: 45px;">Our 
                <span>Corporate Allies</span>
            </h1>
            <p class="highlight">
                We depend on the imense support from aliies from the corporate world to help us build data tools for the benefit of all.
            </p> 
        </section>
    </div>
    <div class="wrapper pt-6 pb-4 mt-6 mb-4" style="background-color: #11100f; border-radius: 40px;">
        <div class="tile-list" data-animate-in="up" data-animate-in-delay="400" style="display: flex;
    justify-content: space-around; padding-top:40px;">
          <div class="text-center mt-6 pb-6">
             <a class="link-arrow text-white mt-4" href="/projects">Become an Ally </a>
          </div>

        </div>
    </div>

    <div class="wrapper py-6 my-6">
        <section class="intro">
            <h1 class="title custom-title" style="font-size: 45px;">Latest 
                <span>GiD Updates</span>
            </h1>
        </section>
    </div>

    <div class="wrapper pt-6 pb-6 mt-6 mb-6" >

        <div class="blog-list">
            {% for post in site.posts %}
            <a class="blog-preview" href="{{ post.articleUrl }}" target="_blank" rel= "noopener" data-animate-in="up"
                data-animate-in-delay="200">
                <div>
                    <h3 class="h5 text-brand font-weight-600 mb-2">{{ post.title }}</h3>
                    {% if post.author %}
                    <span class="blog-preview__meta mb-2">
                        {% if post.authorAvatar %}
                        <img
                            alt="Photo or avatar image of {{ post.author }}"
                            style="border-radius: 50%; max-width: 32px;display:inline-block"
                            src="/assets/images/posts/{{ post.authorAvatar }}" />
                        {% endif %}
                        <div style="display: inline-block; margin-left: 6px">
                            {{ post.author }}
                            {% if post.authorTitle %}
                            <br />{{ post.authorTitle }}
                            {% endif %}
                        </div>
                    </span>
                    {% endif %}
                    
                    {% if post.video_url %}
                    <div class="blog-preview__video">
                        <iframe loading="lazy"  src="https://docs.microsoft.com/_themes/docs.theme/master/en-us/_themes/global/video-embed.html?id=ec3d794c-eb61-42fe-a0ae-016cfa1663a4" allowFullScreen title="{{video.title}}" tabindex="0" allow="autoplay"></iframe>
                    </div>
                    {% endif %}
                    {{ post.content }}
                </div>
                {% if post.azure-oss-post %}
                <div class="link-arrow-external mt-4">Learn more about open source on Azure</div>
                {% else %}
                <div class="link-arrow-external mt-4">Read post</div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        {% assign postCount = site.posts|size %}
        {% if postCount > 4 %}
        <script>
            var $ = jQuery,
                post = $('.blog-preview');
            post.hide();
            randomElements = post.get().sort(function () {
                return Math.round(Math.random()) - 0.5
            }).slice(0, 4);
            $(randomElements).show();
        </script>
        {% endif %}
    </div>

    <div class="wrapper-full bg-brand-dark text-white" style="background-color:#FFC857;">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>
                        We welcome you to our open communities. Please check out
                        our Code of Conduct and our Contribution Guidelines
                        to help us all participate with care.
                    </p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</article>


<script src="{{ '/assets/js/homepage.js' | relative_url }}"></script>
