
<svg version="1.1" viewBox="0 0 370 370" id="hero-svg" onload="initAvatarScript()">
	<defs>
		<pattern id="bgImage" patternUnits="userSpaceOnUse" width="99" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/impact-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="bgImage2" patternUnits="userSpaceOnUse" width="99" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/action-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>

		<pattern id="bgImage3" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/insight-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="bgImage4" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/community-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="adinkrahene" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/adinkrahene.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="techandinovation" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/techandinovation.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="standard" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/standards-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="patrontech" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/patrontech.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="akofena" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/akofena-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
		<pattern id="matemase" patternUnits="userSpaceOnUse" width="100" height="100">
			<image href="{{ site.baseurl }}/assets/images/webp/mate-masie-8080.webp" x="0" y="0" width="80" height="80" />
		</pattern>
	</defs>
<g>
	<g id="heroSquare2">
		<rect x="289" y="1" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="329" cy="41" r="40"/>
	</g>
	
	<g>
		<rect x="200" y="7" fill="url(#adinkrahene)" width="80" height="82"/>
	</g>
	<g id="heroSquare1">
		<rect x="97" y="1" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="137" cy="41" r="40"/>
	</g>
	<g>
		<g>
			<g>
				<rect x="0" y="5" fill="url(#techandinovation)" width="80" height="82"/>
			</g>
		</g>
	</g>
</g>
<g>
	<g>
		<rect x="289" y="289" fill="url(#bgImage2)" width="80" height="82"/>
	</g>
	<g id="heroSquare4">
		<rect x="193" y="97" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="233" cy="137" r="40"/>
	</g>
	<g>
		<rect x="100" y="110" fill="url(#akofena)" width="80" height="82"/>
	</g>
	<g id="heroSquare3">
		<rect x="1" y="97" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="41" cy="137" r="40"/>
	</g>
</g>
<g>
	<g>
		
		<g> 
			<rect x="300" y="95" fill="url(#patrontech)" width="80" height="85"/>

		</g>
	</g>
	<g>
		<rect x="200" y="209" fill="url(#bgImage4)" width="80" height="85"/>
	</g>
	<g id="heroSquare5">
		<rect x="97" y="193" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="137" cy="233" r="40"/>
	</g>
	<g>
		<rect x="0" y="195"  fill="url(#standard)" width="80" height="82" > </rect>
	</g>
	
</g>
<g>
	<g>
	   <rect x="300" y="200" fill="url(#bgImage3)" width="80" height="82"/>	
	</g>
	<g id="heroSquare6">
		<rect x="193" y="289" fill="none" stroke="none" width="80" height="80"/>
		<circle fill="none" stroke="#FFFFFF" cx="233" cy="329" r="40"/>
	</g>
	<g>
		<rect x="100" y="300" fill="url(#matemase)" width="80" height="82"/>
	</g>
	<g>
		<rect x="0" y="295"  fill="url(#bgImage)" width="80" height="82" > </rect>
	</g>
</g>
</svg>
