/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-optical-sizing: auto;
    --primary-color: #0D3B66;
    --highlight-color: #33673B;
    --background-color: #F4F4F9;
    --body-font: "Nunito", sans-serif;
    --title-font: "Roboto", sans-serif;
    --body-font-size: 18px;
}

p {
    font-family: var(--body-font);
    line-height: 1.7;
    color: var(--primary-color);
    max-width: 800px;
    font-size: 18px;
    font-weight: 400;
} */

h1, h2 {
    font-family: var(--title-font);
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    /* text-transform: uppercase; */
    /* text-align: center; */
}

h1 span {
    color: var(--highlight-color);
}

.highlight {
    font-size: 1.5rem;
    font-weight: 500;
    /* text-align: center; */
    max-width: 600px;
    /* margin: 1rem auto; */
}

.highlight-center {
    text-align: center;
}

.secondary {
    font-size: 1.3rem;
    /* text-align: center; */
    opacity: 0.8;
    max-width: 650px;
    /* margin: 1rem auto; */
}

.brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--highlight-color);
}

.highlight-text {
    color: var(--highlight-color);
    font-weight: 700;
}

.who-cares {
    margin-top: 4rem;
    text-align: center;
}

.citzens {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--highlight-color);
    letter-spacing: 3px;
    margin-top: 0.5rem;
}

.emphasize {
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.quote {
    font-style: italic;
    font-size: 1.5rem;
    color: var(--highlight-color);
}

.actions {
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
}

.open-source {
    font-weight: bold;
    text-decoration: underline;
    color: var(--highlight-color);
}

@media screen and (max-width: 768px) {
    h1 { font-size: 2.5rem; }
    .citzens { font-size: 3rem; }
}
.hero-text-formula {
    margin-left: 54px;
    margin-bottom: 5px;
    font-size: 25px;
    margin-top: 5px;
    display: block;
}

